@font-face {
   font-family: 'GothamSSm-Medium';
   font-display: swap;
   src: url('file:///C:/Users/defaultuser0/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-05-02_134003/fonts/GothamSSm-Medium/font.otf');
}
